.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
    padding: 32px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 16px;
}
.path {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #717171;
}
.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    color: #000;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.input {
    padding: 8px;
    border: 2px solid #e4e4e7;
    border-radius: 8px;
    font-size: 14px;
}
